{
        acme_ca https://acme.zerossl.com/v2/DV90
        email webmaster@l3zc.com
        acme_dns cloudflare "{$CF_API_TOKEN}"

        order replace after encode
        order handle_errors after file_server

        storage redis {
                host "{$REDIS_HOST}"
                port 6379
                password "{$REDIS_PASSWORD}"
                db 0
                key_prefix "caddy"
                tls_enabled true
                tls_insecure false
        }

        log {
                output file /var/log/caddy/caddy.log {
                        roll_size 500MiB
                        roll_keep 3
                }
                format console
                exclude http.log.access
        }

        log main {
                output file /var/log/caddy/access.log {
                        roll_size 500MiB
                        roll_keep 3
                }
                include http.log.access
        }

        layer4 {
                :1688 {
                        route {
                                proxy ovh-fra.tail351a12.ts.net:1688
                        }
                }
        }
}

(hsts) {
        header {
                Permissions-Policy "interest-cohort=()"
                Strict-Transport-Security "max-age=15552000; includeSubDomains; preload"
                X-Content-Type-Options "nosniff"
        }
}

*.l3zc.com {
        import hsts
        log main

        import /etc/caddy/conf.d/*.caddy

        handle_errors 404 {
                @is_blog host blog.l3zc.com
                handle @is_blog {
                        root * /var/www/blog
                        rewrite * /404.html
                        file_server
                }
        }

        handle {
                abort
        }
}